<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Info and Stats</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
       
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Statistics</h4>
                <h6> No. of Active Reservations: 4</h6>
                <h6> No. of Past Reservations: 4</h6>
                <h6> No. of Pending Reservations: 4</h6>
                <h6> No. of Tour Guides: 7</h6>
                <h6> Total Route Options: 5</h6>
                <h6> Total No. of Guests: 1500</h6>
                <h6> Total Rating of Our Service: 8.99/9</h6>
            </div>
        </div>
    </div>
</div>