
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>City ID info for Booking Hotels</h2>
<br /><br />

<form method="post">
<label>Enter the City</label>
<input type="text" class="form-control" name="p" />
<button class="btn btn-outline-primary">Get City ID</button>
</form>
