<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-dashboard"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-plane"></i>
            <div data-i18n="Analytics">Tour Routes</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment-check"></i>
            <div data-i18n="Analytics">Comments</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-face"></i>
            <div data-i18n="Analytics">Users</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message"></i>
            <div data-i18n="Analytics">Messages</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-smile"></i>
            <div data-i18n="Analytics">Our Guides</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-server"></i>
            <div data-i18n="Analytics">The News Settings (Onecıkanlar)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Testimonials</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Analytics">Sub About</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-calendar"></i>
            <div data-i18n="Analytics">Reservations</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-library"></i>
            <div data-i18n="Analytics">Mail List</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bookmark-alt"></i>
            <div data-i18n="Analytics">The News Settings 2</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Password Settings</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-crown"></i>
            <div data-i18n="Analytics">Role Settings</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Exit</div>
        </a>
    </li>
</ul>