@model TraversalCoreProje.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Page for Sending Mails</h1>

<form method="post">
	<div class="form-group">
		@Html.Label("Receiver Mail")
		<input type="text" asp-for="ReceiverMail" class="form-control" />
	</div>

	<br />

	<div class="form-group">
		@Html.Label("Subject")
		<input type="text" asp-for="Subject" class="form-control" />
	</div>
	<br>

	<div class="form-group">
		@Html.Label("Your Message")
		<textarea cols="30" rows="5" asp-for="Body" class="form-control"></textarea>
	</div>

	<br />
	<button class="btn btn-outline-success">Send a Mail</button>
</form>
