@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create New Roles</h1>

<form method="post">
    <label>Enter Role Name</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn btn-primary">Add</button>
</form>

